@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@using (Html.BeginForm("Create","Hardware")) {
    
        <div>
        <fieldset>
            <legend>Add price display unit</legend>

            <div class="editor-label">
                @Html.Label("priceDisplayID", "priceDisplayID")
            </div>
            <div class="editor-field">
                @Html.Editor("priceDisplayID")
            </div>

            <div class="editor-label">
                @Html.Label("barcode", "barcode")
            </div>
            <div class="editor-field">
                @Html.Editor("barcode")
            </div>

            <p>
                <input type="submit" value="Save" />
            </p>
        </fieldset>
    </div>
}
@Html.ActionLink("Cancel and return to list", "listPriceDisplays")

    