@{
    ViewBag.Title = "Home Page";
}

<h3>Welcome</h3>
<p>
    <h5>@Html.ActionLink("View Product List", "../Inventory/List")</h5>
    <h5>@Html.ActionLink("View Transaction List", "../Transaction/List")</h5>
    <h5>@Html.ActionLink("Product Search", "../Inventory/Search")</h5>
    <h5>@Html.ActionLink("Transaction Search", "../Transaction/Search")</h5>
    <h5>@Html.ActionLink("Upload Transaction File", "../Transaction/Upload")</h5>
    <h5>@Html.ActionLink("Send Transactions", "../Transaction/sendSummary?date=30/09/2013")</h5>
    <h5>@Html.ActionLink("View Cashier Sessions", "../Session/List")</h5>
    <h5>@Html.ActionLink("Register New Employee", "../Employee/Create")</h5>
    <h5>@Html.ActionLink("Add Cash Register Units", "../Hardware/listCashRegisters")</h5>
    <h5>@Html.ActionLink("Add/Modify Price Display Units", "../Hardware/listPriceDisplays")</h5>

</p>
