@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome !</h2>
<p>
    <h4>@Html.ActionLink("View Product List", "../Inventory/List")</h4>
    <h4>@Html.ActionLink("View Transaction List", "../Transaction/List")</h4>
    <h4>@Html.ActionLink("Search for a Product ", "../Inventory/Search")</h4>
    <h4>@Html.ActionLink("Search for a Transaction ", "../Transaction/Search")</h4>
    <h4>@Html.ActionLink("Upload transaction file ", "../Transaction/Upload")</h4>
    <h4>@Html.ActionLink("Send transaction  ", "../Transaction/sendSummary?Date=28/09/2013")</h4>
    <h4>@Html.ActionLink("Upload transaction file ", "../Transaction/Upload")</h4>

</p>
