@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<table class="grid">
    <tr>
        <td><b>Name</b></td>
        <td>@Model.product.productName</td>
    </tr>
    <tr>
        <td><b>Barcode</b></td>
        <td>@Model.product.barcode</td>
    </tr>
     <tr>
        <td><b>Category</b></td>
         <td>@Model.category.categoryName</td>
     </tr>
     <tr>
        <td><b>Selling Price</b></td>
         <td>@Model.product.sellingPrice $</td>
     </tr>
     <tr>
        <td><b>Manufacturer</b></td>
         <td>@Model.manufacturer.manufacturerName</td>
     </tr>
     <tr>
        <td><b>Current Stock</b></td>
         <td>@Model.product.currentStock</td>
     </tr> 
     <tr>
        <td><b>Minimum Stock</b></td>
         <td>@Model.product.minimumStock</td>
     </tr>
     <tr>
        <td><b>Maximum Price</b></td>
         <td>@Model.product.maxPrice $</td>
     </tr> 
     <tr>
        <td><b>Bundle Unit</b></td>
         <td>@Model.product.bundleUnit</td>
     </tr> 
     <tr>
        <td><b>Discount percentage</b></td>
         <td>@Model.product.discountPercentage %</td>
     </tr>
      
 </table>       

<h4>@Html.ActionLink("Return to List", "List")</h4>

